<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>
   
    <add key="UrlBUK" value="https://demogv.buk.cl/api/v1/" />
    <add key="bukAuthorizationKey" value="" />
    <add key="gvAuthorizationKey" value="" />
    <add key="UrlGV" value="" />
    <add key="timeout" value="" />


    
  </appSettings>
</configuration>
