<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>
   
    <add key="UrlBUK" value="https://demogv.buk.cl/api/v1/" />
    <add key="bukAuthorizationKey" value="ggqYRguHzHr9xEmyxCtnQfqC" />
    <add key="gvAuthorizationKey" value="E35E82D930044EAFAF2136CC3C794AFF" />
    <add key="UrlGV" value="http://localhost:14924/api/v1/" />
    <add key="timeout" value="5" />


    
  </appSettings>
</configuration>